@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.header {
    margin: 8px auto;
    width: 70vw;
    box-sizing: border-box;
    display: flex;
    gap: 6px;
    align-items: center;
    border-radius: 12px;
    height: 46px;
}

input {
    width: calc(100% - 78px);
    padding: 4px 12px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    font-size: 16px;
}

input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.themeBtn,
.search {
    width: 30px;
    height: 30px;
    border-radius: 40%;
    background-color: transparent;
    border: 1px solid #818080;
}

.themeBtn,
.search {
    cursor: pointer;
}

.search>svg {
    fill: white;
}

.light {
    padding: 4px;
}

.dark {
    display: none;
}

.dark>path {
    fill: black;
}

.light>path,
.light>circle {
    fill: white;
    stroke: white;
}

main {
    width: 70vw;
    margin: 4px auto;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 40px;
    box-sizing: border-box;
    height: 210px;
}

.temp-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 2px;
    box-sizing: border-box;
}

.temp>sup {
    font-size: 16px;
}

.weather-description {
    font-size: 13px;
    font-weight: 500;
    color: #8c8c8c;
    text-transform: capitalize;
    margin-top: 4px;
}

.temp-pic {
    width: 120px;
    height: 120px;
}

.temp-pic>img {
    width: 100%;
    object-fit: contain;
}

.city {
    display: flex;
    flex-direction: column;
}

.city>p {
    color: #8c8c8c;
    font-size: 12px;
}

.other-data {
    width: 70vw;
    border-radius: 20px;
    height: 220px;
}

.data-heading {
    padding: 18px 26px;
}

.data-heading>p {
    font-size: 13px;
    color: #8c8c8c;
}

.metrics-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 10px 10px 4px 42px;
}

.metric-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.metric-header {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #939ba9;
    font-size: 15px;
    font-weight: 500;
}

.metric-value {
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    padding-left: 32px;
}